<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const errorMessage = ref<string>('')
const resMessage = ref<number>()
const heartData = ref({
  Age: 0,
  Sex: -1,
  ChestPainType: -1,
  RestingBP: 0,
  Cholesterol: 0,
  FastingBS: -1,
  RestingECG: -1,
  MaxHR: 0,
  ExerciseAngina: -1,
  Oldpeak: 0.0,
  ST_Slope: -1
})

const predictHeartDisease = async () => {
  try {
    const response = await axios.post('http://localhost:8000/heart/predict/', heartData.value)

    console.log('Predicted heart disease:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict heart disease:', error)
    errorMessage.value = 'Failed to predict heart disease'
  }
}
</script>

<template>
<v-container class="container">
  <form @submit.prevent="predictHeartDisease" class="form-container">
    <label style="margin-left: 100px;" class="fonthead">Predict Heart Disease</label><br />
      <!-- Your form fields go here -->
      <label for="age" class="font-color">Age:</label>
      <label for="sex" class="font-color" style="margin-left: 300px;">Sex:</label><br />
      <input v-model="heartData.Age" type="number" step="1" required />
      <select v-model="heartData.Sex" required style="margin-left: 80px;">
        <option value="-1" disabled>Select gender</option>
        <option value="0">Female</option>
        <option value="1">Male</option></select
      ><br />

      <label for="chestpaintype" class="font-color">ChestPainType:</label>
      <label for="restingBP" class="font-color" style="margin-left: 225px;">RestingBP:</label><br />
      <select v-model="heartData.ChestPainType" required>
        <option value="-1" disabled>Select ChestPainType</option>
        <option value="0">ASY: Asymptomatic</option>
        <option value="1">ATA: Atypical Angina</option>
        <option value="2">NAP: Non-Anginal Pain</option>
        <option value="3">TA: Typical Angina</option></select
      >
      <input v-model="heartData.RestingBP" type="number" step="1" required style="margin-left: 80px;"/><br />

      <label for="cholesterol" class="font-color">Cholesterol:</label>
      <label for="FastingBS" class="font-color" style="margin-left: 250px;">FastingBS:</label><br />
      <input v-model="heartData.Cholesterol" type="number" step="1" required />
      <select v-model="heartData.FastingBS" required style="margin-left: 80px;">
        <option value="-1" disabled>FastingBS</option>
        <option value="1">FastingBS > 120 mg/dl</option>
        <option value="0">otherwise</option></select
      ><br />

      <label for="restingECG" class="font-color">RestingECG:</label>
      <label for="maxHR" class="font-color" style="margin-left: 249px;">MaxHR:</label><br />
      <select v-model="heartData.RestingECG" required>
        <option value="-1" disabled>RestingECG</option>
        <option value="1">Normal</option>
        <option value="0">LVH</option>
        <option value="2">ST</option></select
      >
      <input v-model="heartData.MaxHR" type="number" step="1" required style="margin-left: 80px;"/><br />

      <label for="exerciseAngina" class="font-color">ExerciseAngina:</label>
      <label for="oldpeak" class="font-color" style="margin-left: 223px;">Oldpeak:</label><br />
      <select v-model="heartData.ExerciseAngina" required>
        <option value="-1" disabled>ExerciseAngina</option>
        <option value="1">Yes</option>
        <option value="0">No</option></select
      >
      <input v-model="heartData.Oldpeak" type="number" step="0.1" required style="margin-left: 80px;"/><br />

      <label for="ST_Slope" class="font-color">ST_Slope:</label><br />
      <select v-model="heartData.ST_Slope" required>
        <option value="-1" disabled>ST_Slope</option>
        <option value="2">Up</option>
        <option value="1">Flat</option>
        <option value="0">Down</option></select
      ><br />

      <!-- Add other form fields as needed -->

      <button  type="submit" style="margin-top: 15px;">Predict Heart Disease</button>
    
      <div class="fonthead" style="text-align: center;" v-if="resMessage">{{ resMessage }}</div>
    </form>
</v-container>
        
</template>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
 
  .form-container { 
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 620px;
    margin-left: 280px;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #4E7286;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 580px;
  }

  button:hover {
    background-color: #4E7286;
  }
  .font-color {

    color: black;
  }
  .font-size {
    font-size: 30px;
    color: #45a049;
    margin-top: 20px;
  }
  .table {
  width: 500px;
  /* border: 2px solid;  */
}
  .fonthead {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 40px;
  }
</style>
